a.nav-link.active {
  color: #66c0c0;
}

.bg-color,
.bg-color:hover {
  background-color: #66c0c0;
}


.nav-link:hover,
.l-hover:hover {
  color: #66c0c0;
}


html, body {
  height: 100%;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}


body.dark {
  background-color: rgb(33, 37, 41);
  color: white;
}

body.light {
  background-color: white;
  color: black;
}
